.white_page{
-fx-background-color: #ffffff;
}

.transparent{
-fx-background-color: rgba(0,0,0,0);
}

.input_field{
-fx-background-color: #ffffff;
}

.blue_button{
-fx-background-color: #0085EB;
-fx-background-radius: 10;
-fx-text-fill: white;
-fx-font-family: "Microsoft YaHei";
-fx-font-weight: bold;
}

.shadow{
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
}

.tile{
-fx-background-color: #ffffff;
-fx-background-radius: 15;
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);

}

.rightBar{
-fx-background-color: #0085EB;
-fx-background-radius:0 15 15 0;
}

.searchField{
-fx-background-color: #ffffff;
-fx-background-radius: 15;
}

.input_field_label{
-fx-text-fill: #929293;
}

.input_field_textbox{
-fx-background-color: transparent;
-fx-border-color: #dfdfdf;
-fx-border-width: 0 0 1.4 0;
}

.searchBar{
-fx-background-color: transparent;
-fx-text-fill: #FFFFFF;
-fx-text-font: arial;
-fx-prompt-text-fill: #FFFFFF;
-fx-border-style: hidden hidden solid hidden;
-fx-border-width: 1.75;
-fx-border-color: white;
-fx-background-image:url('@../../../img/searchIcon.png');
-fx-background-repeat: no-repeat;
-fx-background-position:right center;
-fx-padding:0;
}