.white_page{
-fx-background-color: #ffffff;
}

.transparent{
-fx-background-color: rgba(0,0,0,0);
}

.input_field{
-fx-background-color: #ffffff;
}

.blue_button{
-fx-background-color: #0085EB;
-fx-background-radius: 10;
-fx-text-fill: white;
-fx-font-family: "Microsoft YaHei";
-fx-font-weight: bold;
}

.shadow{
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);
}

.tile{
-fx-background-color: #ffffff;
-fx-background-radius: 15;
-fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1),10,0,0,10);

}

.rightBar{
-fx-background-color: #0085EB;
-fx-background-radius:0 15 15 0;
}

.searchField{
-fx-background-color: #ffffff;
-fx-background-radius: 15;
}

.input_field_label{
-fx-text-fill: #929293;
-fx-font-family: "Microsoft YaHei";
-fx-font-weight: bold;
}

.input_field_textbox{
-fx-background-color: transparent;
-fx-border-color: #dfdfdf;
-fx-border-width: 0 0 1.4 0;
-fx-font-family: "Microsoft YaHei";
}

.profile_Title{
-fx-text-fill: #929293;
-fx-font-family: "Microsoft YaHei";
-fx-font-weight: bold;
-fx-font-size: 17;
}

.menu-item .label {
    -fx-font-family: "Microsoft YaHei";
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: white;
}

.menu-item:focused .label {
    -fx-text-fill: #0085EB;
}

.context-menu {
    -fx-background-color: #0085EB;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 10 20 10 20; /* 4 1 8 1 */
}

.homePage_options {
-fx-background-color: #0085EB;
-fx-background-radius: 0;
-fx-text-fill: white;
-fx-font-family: "Microsoft YaHei";
-fx-font-weight: bold;
}

.homePage_options:pressed {
-fx-background-color: white;
-fx-text-fill: #0085EB;
-fx-border-color: #0085EB;
-fx-border-width: 0 0 0 13;
}